/* Imports the font file */
@import url(./fonts.css);


/* css variables */ 
@import url(./partials/_variables.css);

/* import global styling */ 
@import url(./partials/_globals.css);

/* CSS for navbar */



.bg-color{
    background-color:var(--navbar-color);
}
.header_area .main-menu .nav-item .nav-link{
    font: normal 500 20px/2px var(--roboto);
    text-transform: uppercase;
    padding: 1.7rem;
    color: var(--title-color);
}

.header_area .main-menu .navbar-nav .nav-item .active{
    background: var(--gradient-color);
    background-clip: text;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header_area .main-menu .navbar-nav a:hover{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    position: relative;
}

.header_area .main-menu .navbar-nav a:hover::before{
    content: "";
    position: absolute;
    left: 10px;
    bottom: 10px;
    width:10vw;
    height: 2px;
    width: 80%;
    border-bottom: 2px solid var( --border-color);  
    box-shadow:5px 10px var(--shadow-color);
}


/* CSS for register and login */
.Authorize .container{
    margin-top: 2%;
}
.Authorize .container .row .column .card{
    width:100%;
    height: 100%;
    text-align: center;
    box-shadow: var(--box-shadow);
}

.Authorize .container .row .column .card .card-image {
    width: 100%;
    height: 15vw;
    object-fit:contain;
    padding-top: 5px;
}   
.Authorize .container .row .column .card .card-body form{
    font: normal 700 20px/2px var(--roboto);
    text-align: left;
    font: var(--roboto);
}
.Authorize .container .row .column .card .card-body form div{
    font-size: 20px;
    font-weight:600;
}
.Authorize .container .row .column .card .card-body form div>label{
    display: block;
    width: 100%
}
.Authorize .container .row .column .card .card-body form div>input{
    display: block;
    width: 100%;
    padding-bottom: 5px;
}

.Authorize .container .row .column .card .card-body .card-title{
    font-size: 40px;
    
}
.Authorize .container .row .column .card .card-body form>button{
    font-size: 25px;
    font-weight:600;
    color: var(--title-color);
    width: 100%;
    padding-bottom: 5px;
    margin-bottom: 5px;
    background-color: var(--primary-color);
    transition: 0.3s ease-in-out;
}
.Authorize .container .row .column .card .card-body form>button:hover{
    background-color:rgb(22, 177, 22) ;
    box-shadow:  var(--shadow-color);
}

/* Css for success page */
.success .container{
    height: 100%;
    width: 100%;
    
}

/* Css for Ehr page and search page */
.dashboard .container .table {
    font-size: 20px;
    font-weight:600;
   
}
.dashboard .container .table .header{
    background-color: var(--navbar-color);
    font: normal 500 22px/30px var(--roboto);
}

/*Css for Patient page  */
.Patient .container-fluid .row .col .text-center>img{
    width:400px;
    height: 250px;
    border: 3px solid var(--title-color);
    box-shadow:  var(--shadow-color);
}

.Patient .container-fluid .row .col .info{
    font-size: 20px;
    font-weight:500;
    line-height: 20px;
}
.Patient .container-fluid .row .col span{
    padding-left: 0.5em;
    
}
/* Design accordion in patient page */
.accordion img{
    width:400px;
    height: 250px;
    border: 3px transparent var(--title-color);
    transition: .6s ease;
}
.accordion  img:hover{
    /* transform:translate(20px,-10px); */
    transform:scale(1.1);
    cursor: pointer;
    box-shadow:  var(--shadow-color);

}
.accordion .accordion-body div>p{
    font-size: 20px;
    font-weight:500;
    line-height: 20px;
}
.accordion-body .button{
    padding-right: 0%;
    width:15rem;
}


/* css for create and edit patient */
.Patient .container{
    background-color: #bbbaba79;
    width: 60%;
    position: relative;
    margin: 20px auto;
    padding: 50px 10px;
    border-radius: 7px;
    box-shadow: var(--box-shadow);
}

.Patient .container form div>label{
    display:block;
    font-size: 1rem;
    font-weight:500;
    line-height: 20px;
}
.Patient .container form div>label.inline{
    display:inline;
    font-size: 15px;
    font-weight:500;
    line-height: 20px;
}
.Patient .container form div>input{
    padding: 5px;
    display: block;
    margin: auto;
    width: 100%;
    border:1px solid #137d25; 
    border-radius: 5px;   
}
.Patient .container form div>textarea{
    padding: 5px;
    display: block;
    margin: auto;
    width: 100%;
    border:1px solid #137d25; 
    border-radius: 5px;   
}

.Patient .container h3{
    text-align: center;
    margin: auto;
}
.Patient #images{
    width: 70%;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.Patient figure{
    width:60%;
}
.Patient img{
    width: 100%;
}

.Patient .container form div.check{
    margin-left: 0px;
    padding-left: 0px;
    margin-right: 0px;
    padding-right: 0px;
    width: 100%;
}
.Patient button{
    width: 40%;
}


/* css for image upload */

.image-upload .container{
    background-color: #ffffff;
    width: 55%;
    position: relative;
    text-align: center;
    margin:  50px auto;
    padding: 50px 20px;
    border-radius: 7px;
    box-shadow: var(--box-shadow);
}
.image-upload input[type="file"]{
    display: none;
}
.image-upload div>label{
    display: block; 
}
div.nonfileinput label{ 
    position: relative;
    text-align: left;
    margin-left:11rem ;
    font-size: 1rem;
    font-weight: 500;
}
@media screen and (max-width:800px) {
    div.nonfileinput label{
        margin-left:0px ;
        text-align: center;
        font-size: 1rem;
    }
}
div.nonfileinput input{
    padding: 10px;
    display: block;
    margin: auto;
    width: 50%;
    border:2px solid #137d25;
    border-radius: 5px;
}
div.nonfileinput textarea{
    display: block;
    margin: auto;
    width: 50%;
    border:2px solid #137d25;
    border-radius: 5px;
}
div.nonfileinput button{
    width: 50%;
}

.file>label{
    display: block;
    position: relative;
    background-color: #025bee;
    color: #ffffff;
    font-size: 18px;
    text-align: center;
    width: 50%;
    margin: auto;
    padding: 18px 0;
    border-radius: 5px;
    cursor: pointer;
}
.image-upload .container p{

    margin: 10px 0 0 0;
}

.image-upload #images{
    width: 50%;
    position: relative;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    flex-wrap: wrap;
}
figure{
    width: 45%;
}
.image-upload img{
    width: 100%;
}
figcaption{
    text-align: center;
    font-size: 1rem;
}


/* Image popup mostly from w3schools */
.modalbox{
    display: none; /*Hidden by default*/
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    /* background-color: rgb(0,0,0); Fallback color */
    background-color: rgba(0,0,0,1); 
}
.modalbox-contents{
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

#description {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: rgba(255, 1, 1, 0.342);
    transform: rotate(-180deg);
    text-decoration: none;
    cursor: pointer;
  }
.modalbox-contents, #description {
    animation-name: zoom;
    animation-duration: 0.6s;
}
@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}
@media only screen and (max-width: 700px){
    .modalbox-contents {
      width: 100%;
    }
  }

/* home page css design */
.home img{
    width: 40rem;
    height:40rem;
    background: rgba(0, 0, 0, 0.8);
    overflow: hidden;
}
.home .container-fluid .row div.text strong{
    font-size:40px;
    line-height: 70px;
    font-family:var(--roboto);
    font-weight: 500;
}
.home .container-fluid .row div.text{
    padding-top: 7rem;
    padding-bottom: 7rem;
    padding-left:5rem;
    font-size: 30px;
    font-weight:400;
    line-height: 40px;
}
.home .container-fluid .row div.text span{
    font-size: 1rem;
}

/* CSS for success and error */
.Result .container{
    background-color:var(--navbar-color) ;
    width: 55%;
    position: relative;
    text-align: center;
    margin:  100px auto;
    padding: 50px 20px;
    border-radius: 7px;
    box-shadow: var(--box-shadow);
}
.Result h3{
    font-family: var(--roboto);
    font-size: 2rem;
    font-weight: 500;
    line-height: 2.5rem;
    color: rgba(180, 14, 14, 0.726);
}